<section>
    <!-- Overlay/Opacity: [class*="bg-"] > .background.dark or .light -->
    <span class="background" style="background-image:url('https://source.unsplash.com/yssUhIxbUZA/')"></span>
    <div class="wrap">
    <div class="content-left bg-trans-dark fadeInUp">
    <img class="whitelogo" src="../static/images/logos/airbnb.svg" alt="Airbnb">
    <hr>
    <h2><strong>Designing Experiences</strong></h2>
    <p>Meet locals who share your interests.</p>
    </div>
    </div>
    <!-- .end .wrap -->
    </section>
