<section class="bg-apple">
    <span class="background-left-bottom" style="background-image:url('../static/images/iphone-hand.png')"></span>
    <div class="wrap">
    <div class="content-right">
    <h2>
    Redesigning
    <svg class="fa-apple">
    <use xlink:href="#fa-apple"></use>
    </svg>
    Pay
    </h2>
    <p>Content demo. We've been working with the Acme team over the last three months to build a new app.</p>
    <p>
    <a href="#" class="button" title="Case study">Case study &rsaquo;</a>
    <a href="https://www.apple.com/apple-pay/" class="button ghost" title="Apple Website">Open site &rsaquo;</a>
    </p>
    </div>
    </div>
    <!-- .end .wrap -->
    </section>
