<section class="bg-gradient-white">
    <span class="background-right" style="background-image:url('../static/images/iphone.png')"></span>
    <div class="wrap">
    <div class="content-left">
    <p class="text-subtitle">Christmas Campaign 2016</p>
    <h2>A new home for Apple
    </h2>
    <p>We established visual branding and photography direction. All content is for demo purposes only. </p>
    <p>
    <a href="#" class="button" title="Case study">Case study &rsaquo;</a>
    </p>
    </div>
    </div>
    <!-- .end .wrap -->
    </section>
