<section>
    <div class="wrap">
    <div class="grid vertical-align">
    <div class="column">
    <h2>
    A Phone by Google
    </h2>
    <p class="text-intro">We worked closely with the very talented people at Acme and created a new website. Content demo. </p>
    <ul class="description">
    <li>
    <span class="text-label">
    Client:
    </span>
    Google (2016)
    </li>
    <li>
    <span class="text-label">
    Services:
    </span>
    Web Design
    </li>
    <li>
    <span class="text-label">
    Website:
    </span>
    <a href="https://madeby.google.com/phone/">madeby.google.com/phone</a>
    </li>
    </ul>
    </div>
    <!-- end .column-->
    <div class="column">
    <figure>
    <img src="../static/images/android.png" alt="Pixel Phone">
    </figure>
    </div>
    <!-- end figure-->
    </div>
    <!-- end .grid-->
    </div>
    <!-- end .wrap-->
    </section>
