<section>
    <div class="wrap">
    <div class="content-left">
    <h2>WebSlides help you build a culture of innovation.</h2>
    </div>
    <!-- end .content-left -->
    <div class="content-left">
    <p>Everyone loves stories. WebSlides is about good karma. Hypertext, clean code, and beauty as narrative elements. All content is for demo purposes only.</p>
    </div>
    <!-- end .content-left -->
    <ul class="flexblock metrics">
    <li> Founded
    <span>1976</span>
    </li>
    <li>
    <span>120+</span>
    Prebuilt Slides
    </li>
    <li>
    <span>
    <svg class="fa-users">
    <use xlink:href="#fa-users"></use>
    </svg>
    </span>
    24M Downloads
    </li>
    <li>
    <span>
    <svg class="fa-line-chart">
    <use xlink:href="#fa-line-chart"></use>
    </svg>
    </span>
    Revenue: $16M
    </li>
    </ul>
    </div>
    <!-- .end .wrap -->
    </section>