
    <section class="bg-green">
        <div class="wrap">
        <!-- li>a? Add blink (block link) = <ul class="flexblock metrics blink">-->
        <ul class="flexblock metrics border">
        <li> Founded
        <span>2032</span>
        </li>
        <li>
        <span>
        <svg class="fa-users">
        <use xlink:href="#fa-users"></use>
        </svg>
        </span>
        24M Subscribers
        </li>
        <li>
        <span>
        <svg class="fa-line-chart">
        <use xlink:href="#fa-line-chart"></use>
        </svg>
        </span>
        Revenue: $16M
        </li>
        <li>
        Monthly Growth
        <span>64%</span>
        </li>
        <li>
        <span>
        <svg class="fa-building-o">
        <use xlink:href="#fa-building-o"></use>
        </svg>
        </span>
        8 Offices
        </li>
        <li>
        <span>
        <svg class="fa-smile-o">
        <use xlink:href="#fa-smile-o"></use>
        </svg>
        </span>
        48 Employees
        </li>
        <li>
        <span>
        <svg class="fa-usd">
        <use xlink:href="#fa-usd"></use>
        </svg>
        </span>
        EBITDA: $2,4M
        </li>
        <li>
        <span>
        <svg class="fa-university">
        <use xlink:href="#fa-university"></use>
        </svg>
        </span>
        Bank: $32M
        </li>
        </ul>
        </div>
        <!-- .end .wrap -->
        </section>
    