
    <section class="bg-black-blue">
        <div class="wrap">
        <div class="grid">
        <div class="column">
        <h3>
        <strong>
        <svg class="fa-line-chart">
        <use xlink:href="#fa-line-chart"></use>
        </svg>
        Interfaces
        </strong>
        </h3>
        <p>Design for growth. We've built a team of world-class designers, developers, and managers.</p>
        </div>
        <div class="column">
        <h3>
        <svg class="fa-film">
        <use xlink:href="#fa-film"></use>
        </svg>
        Videos
        </h3>
        <p>We connect your audience needs, business goals, and brand values into a strategy. </p>
        </div>
        <div class="column">
        <h3>
        <strong>
        <svg class="fa-users">
        <use xlink:href="#fa-users"></use>
        </svg>
        Recruiting
        </strong>
        </h3>
        <p>We offer personalized services with deep expertise in design and technology.</p>
        </div>
        <div class="column">
        <h3>
        <svg class="fa-graduation-cap">
        <use xlink:href="#fa-graduation-cap"></use>
        </svg>
        Formation
        </h3>
        <p>We train teams to help organizations succeed in the digital age.</p>
        </div>
        </div>
        <!-- end .grid-->
        <hr>
        <p><code>.grid > .column</code></p>
        </div>
        </section>