
    <section>
        <div class="wrap">
        <h3>Services</h3>
        <p><code>ul.flexblock</code> (flexible blocks).</p>
        <ul class="flexblock">
        <li>
        <!--div required = padding li or li>a-->
        <div>
        <h3>Interfaces</h3>
        <ol>
        <li>Architecture</li>
        <li>Design</li>
        <li>Development</li>
        </ol>
        </div>
        </li>
        <li>
        <!--div required = padding li or li>a-->
        <div>
        <h3>Content Strategy</h3>
        Beautiful and engaging stories that inspires consumers to take action.
        </div>
        </li>
        <li>
        <!--div required = padding li or li>a-->
        <div>
        <h3>Customer Experience</h3>
        Attitude. Little details. People always remember how you made them feel.
        </div>
        </li>
        <li>
        <!--div required = padding li or li>a-->
        <div>
        <h3>Recruitment</h3>
        We like to help startups by working with them since the beginning.
        </div>
        </li>
        </ul>
        </div>
        <!-- .end .wrap -->
        </section>
        