    <!--
    <section>
    <div class="wrap">
    <h2>Clients</h2>
    <p><code>ul.flexblock.clients</code></p>
    <ul class="flexblock clients">
    <li>
    <a href="#" title="Client">
    <figure>
    <img class="blacklogo" src="../static/images/logos/google.svg" alt="Google">
    <figcaption>
    <h3>Interfaces</h3>
    <p>Collaboration with the Acme team to design their mobile apps. <code>img.blacklogo</code></p>
    </figcaption>
    </figure>
    </a>
    </li>
    <li>
    <a href="#" title="Client">
    <figure>
    <img class="blacklogo" src="../static/images/logos/netflix.svg" alt="Netflix">
    <figcaption>
    <h3>Brand</h3>
    <p>We worked with the UX team on photography for the site <code>img.blacklogo</code></p>
    </figcaption>
    </figure>
    </a>
    </li>
    <li>
    <a href="#" title="Client">
    <figure>
    <img class="blacklogo" src="../static/images/logos/microsoft.svg" alt="Microsoft">
    <figcaption>
    <h3>Recruiting</h3>
    <p>We worked with the design team to develop recruiting processes. <code>img.blacklogo</code></p>
    </figcaption>
    </figure>
    </a>
    </li>
    <li>
    <a href="#" title="Client">
    <figure>
    <img class="blacklogo" src="../static/images/logos/airbnb.svg" alt="Airbnb">
    <figcaption>
    <h3>Interfaces</h3>
    <p>We partnered with various Airbnb divisions to create a campaign for Airbnb Trips.</p>
    </figcaption>
    </figure>
    </a>
    </li>
    </ul>
    </div>-->
    <!-- .end .wrap -->
    <!-- </section> -->
    