
    <section>
        <div class="wrap">
        <p><code>.flexblock.gallery</code></p>
        <hr>
        <ul class="flexblock gallery">
        <li>
        <a href="../demos/why-webslides.html" title="Why WebSlides?">
        <figure>
        <img alt="Thumbnail Why WebSlides?" src="https://webslides.tv/static/images/demos-why.png">
        <figcaption>
        <h2>Why WebSlides?</h2>
        </figcaption>
        </figure>
        </a>
        </li>
        <li>
        <a href="../demos/landings.html" title="Landings">
        <figure>
        <img alt="Thumbnail Landings" src="https://webslides.tv/static/images/demos-landings.png">
        <figcaption>
        <h2>Landings</h2>
        </figcaption>
        </figure>
        </a>
        </li>
        <li>
        <a href="../demos/portfolios.html" title="Portfolios">
        <figure>
        <img alt="Thumbnail Portfolios" src="https://webslides.tv/static/images/demos-portfolios.png">
        <figcaption>
        <h2>Portfolios</h2>
        </figcaption>
        </figure>
        </a>
        </li>
        <li>
        <a href="../demos/keynote.html" title="Apple Keynote">
        <figure>
        <img alt="Thumbnail Apple Keynote" src="https://webslides.tv/static/images/demos-apple.png">
        <figcaption>
        <h2>Apple Keynote</h2>
        </figcaption>
        </figure>
        </a>
        </li>
        </ul>
        </div>
        <!-- .end .wrap -->
        </section>