
    <section>
        <div class="wrap">
        <h3>Team</h3>
        <p><code>.flexblock.gallery</code></p>
        <ul class="flexblock gallery">
        <li>
        <a href="#">
        <figure>
        <img alt="Thumbnail " src="https://source.unsplash.com/E6MWxCjNhYs/800x600">
        <figcaption>
        <h2>Alicia Jiménez</h2>
        <p>Founder & CEO</p>
        </figcaption>
        </figure>
        </a>
        </li>
        <li>
        <a href="#">
        <figure>
        <img alt="Thumbnail" src="https://source.unsplash.com/6anudmpILw4/800x600">
        <figcaption>
        <h2>Sam Trololovitz</h2>
        <p>Master of nothing</p>
        </figcaption>
        </figure>
        </a>
        </li>
        <li>
        <a href="#">
        <figure>
        <img alt="Thumbnail" src="https://source.unsplash.com/IFxjDdqK_0U/800x600">
        <figcaption>
        <h2>Erin Gustafson</h2>
        <p>VP of Design</p>
        </figcaption>
        </figure>
        </a>
        </li>
        </ul>
        </div>
        <!-- .end .wrap -->
        </section>
    