<section>
    <div class="wrap">
    <h3>Team</h3>
    <p><code>.flexblock.gallery</code></p>
    <ul class="flexblock gallery">
    <li>
    <a href="#">
    <figure>
    <img alt="Thumbnail " src="https://source.unsplash.com/IFxjDdqK_0U/800x600">
    <div class="overlay">
    <h2>Mila Yang</h2>
    <p>The Boss</p>
    </div>
    </figure>
    </a>
    </li>
    <li>
    <a href="#">
    <figure>
    <img alt="Thumbnail" src="https://source.unsplash.com/zhkTCCmD4xI/800x600">
    <div class="overlay">
    <h2>Shin Ahmed</h2>
    <p>CTO</p>
    </div>
    </figure>
    </a>
    </li>
    <li>
    <a href="#">
    <figure>
    <img alt="Thumbnail" src="https://source.unsplash.com/uPGOEbjbVGA/800x600">
    <div class="overlay">
    <h2>Julia Porter</h2>
    <p>Digital Designer</p>
    </div>
    </figure>
    </a>
    </li>
    </ul>
    </div>
    <!-- .end .wrap -->
    </section>