
    <section>
        <div class="wrap">
        <p><code>.flexblock.gallery</code></p>
        <ul class="flexblock gallery">
        <li>
        <a href="#">
        <div class="overlay">
        <h2>Watchly</h2>
        <p>Dec 12, 2018</p>
        </div>
        <img alt="Thumbnail " src="https://source.unsplash.com/A5-Xr7WyktQ/800x600">
        </a>
        </li>
        <li>
        <a href="#">
        <div class="overlay">
        <h2>Camour</h2>
        <p>Nov 18, 2017</p>
        </div>
        <img alt="Thumbnail " src="https://source.unsplash.com/kt_s46DVgJA/800x600">
        </a>
        </li>
        </ul>
        </div>
        <!-- .end .wrap -->
        </section>