<section>
    <div class="wrap">
    <div class="card-50 bg-white">
    <figure>
    <img src="https://source.unsplash.com/BoBmrZ8epMA/800x600" alt="Mobile Screenshot">
    <figcaption>
    <a href="https://unsplash.com/@anniespratt">
    <svg class="fa-camera">
    <use xlink:href="#fa-camera"></use>
    </svg>
    Annie Spratt (Unsplash)
    </a>
    </figcaption>
    </figure>
    <!-- end figure-->
    <div class="flex-content">
    <h2>
    Travis
    </h2>
    <p>.card-50.bg-white</p>
    <p>
    Travis is the most popular travel app in the world.  It collects reviews from travellers about hotels, restaurants and attractions. We partnered with various divisions to create a campaign for Travis Pro.
    </p>
    <ul class="description">
    <li>
    <strong class="text-label">Role:</strong> Content Strategy
    </li>
    <li><strong class="text-label">Client:</strong> Travis</li>
    <li><strong class="text-label">Year:</strong> 2017</li>
    </ul>
    </div>
    <!-- end .flex-content-->
    </div>
    <!-- end .card-60-->
    </div>
    <!-- .end .wrap -->
    </section>