
    <section class="fullscreen">
        <div class="card-50">
        <figure>
        <img src="https://source.unsplash.com/vCF5sB7QecM/" alt="iWatch">
        <figcaption>
        <a href="https://unsplash.com/@crew" title="By Crew">
        <svg class="fa-camera">
        <use xlink:href="#fa-camera"></use>
        </svg>
        Crew (Unsplash)
        </a>
        </figcaption>
        </figure>
        <!-- end figure-->
        <div class="flex-content">
        <h2>Watchly
        </h2>
        <p>.fullscreen > .card-50</p>
        <p class="text-intro">These days it's easy to make interfaces. There are a lot of
        frameworks out there, but it's still really hard to make a great interface.
        </p>
        <ul class="description">
        <li>
        <strong class="text-label">Role:</strong> Frontend
        </li>
        <li><strong class="text-label">Client:</strong> Acme</li>
        <li><strong class="text-label">Year:</strong> 2018</li>
        </ul>
        </div>
        <!-- end .flex-content-->
        </div>
        </section>