<section>
    <div class="wrap">
    <h2>Features</h2>
    <ul class="flexblock features">
    <li>
    <div>
    <h2>
    <span>&rarr;</span>
    Simple Navigation
    </h2>
    with arrow keys and swipe.
    </div>
    </li>
    <li>
    <div>
    <h2>
    <svg class="fa-link">
    <use xlink:href="#fa-link"></use>
    </svg>
    Permalinks
    </h2>
    Go to a specific slide.
    </div>
    </li>
    <li>
    <div>
    <h2>
    <svg class="fa-clock-o">
    <use xlink:href="#fa-clock-o"></use>
    </svg>
    Slide Counter
    </h2>
    Current/Total number
    </div>
    </li>
    <li>
    <div>
    <h2>
    <span>40<sup>+</sup></span>
    Beautiful Components
    </h2>
    Covers, cards, quotes...
    </div>
    </li>
    <li>
    <div>
    <h2>
    <svg class="fa-text-height">
    <use xlink:href="#fa-text-height"></use>
    </svg>
    Vertical Rhythm
    </h2>
    Use multiples of 8.
    </div>
    </li>
    <li>
    <div>
    <h2>
    <span>500<sup>+</sup></span>
    SVG Icons
    </h2>
    Font Awesome Kit.
    </div>
    </li>
    </ul>
    </div>
    </section>