<section>
<div class="wrap size-50">
<h3>Examples</h3>
<p>All content is for demo purposes only.</p>
<hr>
<ol class="text-cols">
<li><a target="_blank" href="#slide=5">Welcomes & Abouts</a></li>
<li><a target="_blank" href="#slide=9">Covers & Case Studies</a></li>
<li><a target="_blank" href="#slide=16">Metrics & Data</a></li>
<li><a target="_blank" href="#slide=22">Services & Clients</a></li>
<li><a target="_blank" href="#slide=28">Galleries</a></li>
<li><a target="_blank" href="#slide=33">Cards</a></li>
<li><a target="_blank" href="#slide=36">Features & Benefits</a></li>
<li><a target="_blank" href="#slide=41">CV/Resumé</a></li>
<li><a target="_blank" href="#slide=45">Quotes</a></li>
<li><a target="_blank" href="#slide=49">SVG Icons</a></li>
<li><a target="_blank" href="#slide=50">Logos</a></li>
<li><a target="_blank" href="#slide=51">CSS Alignments</a></li>
<li><a target="_blank" href="#slide=62">CSS Animations</a></li>
<li><a target="_blank" href="#slide=67">Background images</a></li>
<li><a target="_blank" href="#slide=70">Embedding videos, maps, charts...</a></li>
<li><a target="_blank" href="#slide=76">Typography</a></li>
</ol>
</div>
<!-- .end .wrap -->
</section>