
<section>
<div class="wrap">
<h1>Design <span>for</span> trust</h1>
<ul class="flexblock blink border">
<li>
<a href="#">
<h2>
<svg class="fa-bar-chart">
<use xlink:href="#fa-bar-chart"></use>
</svg>
Purpose
</h2>
Businesses that people love
</a>
</li>
<li>
<a href="">
<h2>
<svg class="fa-balance-scale">
<use xlink:href="#fa-balance-scale"></use>
</svg>
Principles
</h2>
Ethics of openness and good taste
</a>
</li>
<li>
<a href="#">
<h2>
<svg class="fa-cog">
<use xlink:href="#fa-cog"></use>
</svg>
Process
</h2>
Useful &rarr; Easy &rarr; Fast &rarr; Beautiful
</a>
</li>
</ul>
</div>
<!-- .end .wrap -->
</section>