<section class="bg-primary">
    <div class="wrap">
    <h1>Design <span>for</span> understanding</h1>
    <ul class="flexblock features fadeInUp">
    <li>
    <div>
    <h2><span>100<sup>%</sup></span> purpose</h2>
    Businesses that people love
    </div>
    </li>
    <li>
    <div>
    <h2>
    <svg class="fa-heart-o">
    <use xlink:href="#fa-heart-o"></use>
    </svg>
    Principles
    </h2>
    Useful &rarr; Easy &rarr; Fast &rarr; Beautiful
    </div>
    </li>
    </ul>
    </div>
    <!-- .end .wrap -->
    </section>