<section>
    <div class="wrap">
    <div class="content-left">
    <h2>We make interfaces and content strategy.</h2>
    </div>
    <!-- end .content-left -->
    <div class="content-left">
    <p>We are digital people by nature. When we develop a vision, it is based on knowledge, research and experience. Those images are for demo purposes only.</p>
    </div>
    <!-- end .content-left -->
    <ul class="flexblock zoomIn">
    <li>
    <div>
    <img class="blacklogo" src="../static/images/logos/google.svg" alt="Google">
    </div>
    </li>
    <li>
    <div>
    <img class="blacklogo" src="../static/images/logos/netflix.svg" alt="Netflix">
    </div>
    </li>
    <li>
    <div>
    <img class="blacklogo" src="../static/images/logos/instagram.svg" alt="Instagram">
    </div>
    </li>
    </ul>
    </div>
    <!-- .end .wrap -->
    </section>
