<section>
    <div class="wrap">
    <h3>How we work?</h3>
    <ul class="flexblock steps">
    <!-- li>a? Add blink = <ul class="flexblock steps blink">-->
    <li>
    <span>
    <svg class="fa-heartbeat">
    <use xlink:href="#fa-heartbeat"></use>
    </svg>
    </span>
    <h2>01. Passion</h2>
    <p>When you're really passionate about your job, you can change the world.</p>
    </li>
    <li>
    <div class="process step-2"></div>
    <span>
    <svg class="fa-magic">
    <use xlink:href="#fa-magic"></use>
    </svg>
    </span>
    <h2>02. Purpose</h2>
    <p>Why does this business exist? How are you different? Why matters?</p>
    </li>
    <li>
    <div class="process step-3"></div>
    <span>
    <svg class="fa-balance-scale">
    <use xlink:href="#fa-balance-scale"></use>
    </svg>
    </span>
    <h2>03. Principles</h2>
    <p>Leadership through openness, empathy, usefulness, and good taste.</p>
    </li>
    <li>
    <div class="process step-4"></div>
    <span>
    <svg class="fa-cog">
    <use xlink:href="#fa-cog"></use>
    </svg>
    </span>
    <h2>04. Process</h2>
    <ul>
    <li>Useful</li>
    <li>Easy</li>
    <li>Fast</li>
    <li>Beautiful</li>
    </ul>
    </li>
    </ul>
    </div>
    <!-- .end .wrap -->
    </section>