    <section>
    <div class="wrap">
    <h2>Features</h2>
    <ul class="flexblock features">
    <li>
    <div>
    <h2>
    <span>&rarr;</span>
    Simple Navigation
    </h2>
    with arrow keys and swipe.
    </div>
    </li>
    <li>
    <div>
    <h2>
    <svg class="fa-link">
    <use xlink:href="#fa-link"></use>
    </svg>
    Permalinks
    </h2>
    Go to a specific slide.
    </div>
    </li>
    <li>
    <div>
    <h2>
    <svg class="fa-clock-o">
    <use xlink:href="#fa-clock-o"></use>
    </svg>
    Slide Counter
    </h2>
    Current/Total number
    </div>
    </li>
    <li>
    <div>
    <h2>
    <span>40<sup>+</sup></span>
    Beautiful Components
    </h2>
    Covers, cards, quotes...
    </div>
    </li>
    <li>
    <div>
    <h2>
    <svg class="fa-text-height">
    <use xlink:href="#fa-text-height"></use>
    </svg>
    Vertical Rhythm
    </h2>
    Use multiples of 8.
    </div>
    </li>
    <li>
    <div>
    <h2>
    <span>500<sup>+</sup></span>
    SVG Icons
    </h2>
    Font Awesome Kit.
    </div>
    </li>
    </ul>
    </div>
    </section>
    <section>
    <span class="background-left-bottom" style="background-image:url('../static/images/iphone-hand.png')"></span>
    <div class="wrap">
    <div class="content-right">
    <ul class="flexblock specs">
    <li>
    <div>
    <svg class="fa-bolt">
    <use xlink:href="#fa-bolt"></use>
    </svg>
    <h2>Incredibly fast</h2>
    Just hold your iPhone near the reader.
    </div>
    </li>
    <li>
    <div>
    <svg class="fa-globe">
    <use xlink:href="#fa-globe"></use>
    </svg>
    <h2>Works with all major banks</h2>
    Apple Pay is accepted in restaurants, hotels...
    </div>
    </li>
    <li>
    <div>
    <svg class="fa-lock">
    <use xlink:href="#fa-lock"></use>
    </svg>
    <h2>The safer way to pay</h2>
    Your card number is never stored.
    </div>
    </li>
    </ul>
    </div>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <span class="background-right" style="background-image:url('../static/images/iphone.png')"></span>
    <!--.wrap = container (width: 90%) -->
    <div class="wrap">
    <div class="content-left">
    <h2>Call to action</h2>
    <p>WebSlides help you build a culture of innovation. Leadership through openness and good taste.</p>
    <div class="content-left">
    <h3>Benefit 1</h3>
    <p>The easiest way to make HTML presentations. Incredibly versatile. 120+ slides.</p>
    </div>
    <!-- .end .content-left -->
    <div class="content-left">
    <h3>Benefit 2</h3>
    <p>The art of storytelling. Inspire teams, fascinate customers, and gain attention from investors.</p>
    </div>
    <!-- .end .content-left -->
    </div>
    <!-- .end .content-left -->
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap">
    <h2>.grid > .column</h2>
    <hr>
    <div class="grid">
    <div class="column">
    <svg class="fa-desktop large">
    <use xlink:href="#fa-desktop"></use>
    </svg>
    <h3>Service</h3>
    <p>We make interfaces and help organizations connect with their audience.</p>
    </div>
    <div class="column">
    <svg class="fa-globe large">
    <use xlink:href="#fa-globe"></use>
    </svg>
    <h3>Benefit 2</h3>
    <p>We are specialists in branding for organizations with a global market in mind.</p>
    </div>
    <div class="column">
    <h3>
    <svg class="fa-line-chart">
    <use xlink:href="#fa-line-chart"></use>
    </svg>
    About 3
    </h3>
    <p>Over the years we've been fortunate to work with some of the most respected brands in the world.</p>
    </div>
    <div class="column">
    <h3>
    <svg class="fa-magic">
    <use xlink:href="#fa-magic"></use>
    </svg>
    Feature 4
    </h3>
    <p>Finally, everything you need to make HTML presentations in a simple way.</p>
    </div>
    </div>
    <!-- end .grid-->
    </div>
    </section>
    <section>
    <div class="wrap aligncenter">
    <h2><strong>CV/Resumé</strong></h2>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap">
    <h2>Worked with</h2>
    <ul class="flexblock border blink">
    <li>
    <a href="">
    <h3>Google</h3>
    2020.- Google Drive
    </a>
    </li>
    <li><a href=""><strong>Facebook</strong> 2019.- F8 Conference</a></li>
    <li><a href=""><strong>The New York Times</strong>2017.- Recruitment</a></li>
    <li><a href=""><strong>Netflix</strong> 2016.- Mobile Apps</a></li>
    <li><a href=""><strong>Airbnb</strong>2016.- Creative Direction</a></li>
    <li><a href=""><strong>Microsoft</strong> 2016.- Content Strategy</a></li>
    <li><a href=""><strong>Instagram</strong>2015.- Identity</a></li>
    <li><a href=""><strong>Spotify</strong> 2014.- TV Commercials</a></li>
    </ul>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap">
    <ul class="work">
    <li class="work-label">
    <p class="work-work">Work</p>
    <p class="work-client">Client</p>
    <p class="work-services">Services</p>
    <p class="work-date">Year</p>
    </li>
    <li>
    <a href="#" rel="external">
    <p class="work-work"><span>Redesign of Netflix</span></p>
    <p class="work-client"><span>Netflix</span></p>
    <p class="work-services"><span>Frontend</span></p>
    <p class="work-date"><span>2015-2016</span></p>
    </a>
    </li>
    <li>
    <a href="#" rel="external">
    <p class="work-work"><span>Airbnb TV Commercials</span></p>
    <p class="work-client"><span>Airbnb</span></p>
    <p class="work-services"><span>Video, Storytelling</span></p>
    <p class="work-date"><span>2015</span></p>
    </a>
    </li>
    <li>
    <a href="#" rel="external">
    <p class="work-work"><span>Tesla Software</span></p>
    <p class="work-client"><span>Tesla Motors</span></p>
    <p class="work-services"><span>Visual Design</span></p>
    <p class="work-date"><span>2014</span></p>
    </a>
    </li>
    </ul>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap">
    <ul class="flexblock activity">
    <li>
    <a href="#" title="VP of Designer at ACME">
    <p class="year">
    2016
    </p>
    <p class="title">
    VP of Designer at ACME
    </p>
    <p class="summary">
    This is a job description for the VP of Design role at ACME. Be concise. Content like a tweet: 2-3 lines recommended.
    </p>
    </a>
    </li>
    <li>
    <a href="#" title="Co-Founder of Delta">
    <p class="year">
    2015
    </p>
    <p class="title">
    Co-Founder of Delta
    </p>
    <p class="summary">
    The culture within an organization is an essential part for success. This is a job description. Be concise. 2-3 lines recommended.
    </p>
    </a>
    </li>
    <li>
    <a href="#" title="Co-Founder of GAMMA">
    <p class="year">
    2013
    </p>
    <p class="title">
    Interaction Designer at GAMMA
    </p>
    <p class="summary">
    Authority is distributed, though not evenly or permanently. Keep it simple. Be concise. 2-3 lines recommended.
    </p>
    </a>
    </li>
    </ul>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap aligncenter">
    <h2><strong>Quotes</strong></h2>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <!--.wrap = container (width: 90%) -->
    <div class="wrap size-50 aligncenter">
    <h2><strong>Why WebSlides?</strong></h2>
    <blockquote>
    <p>"I feel guilty as a web designer when I have to use PowerPoint and Keynote. So I made #WebSlides."</p>
    <p><cite> <img class="avatar-40" src="../static/images/avatar.jpg" alt="Avatar"> <a href="http://twitter.com/jlantunez/">@jlantunez</a></cite></p>
    </blockquote>
    </div>
    <!-- .end .wrap -->
    </section>
    <section class="bg-black-blue">
    <!--.wrap = container (width: 90%) -->
    <div class="wrap">
    <blockquote class="text-quote">
    <p>When I'm working on a problem, I never think about beauty. But when I have finished, if the solution is not beautiful, I know it is wrong.</p>
    <p><cite><a href="https://en.wikipedia.org/wiki/Buckminster_Fuller">R. Buckminster Fuller</a>.</cite></p>
    </blockquote>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <span class="background-left-bottom" style="background-image:url('https://webslides.tv/static/images/satya.png')"></span>
    <div class="wrap">
    <div class="content-right">
    <blockquote>
    <p>"There is something only a CEO uniquely can do, which is set that tone, which can then capture the soul of the collective."</p>
    <p><cite>Satya Nadella, CEO of Microsoft.</cite></p>
    </blockquote>
    </div>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap size-50">
    <p class="text-subtitle">Optional &middot; 500+ icons</p>
    <h2>
    <a href="http://fontawesome.io/icons/">
    <svg class="fa-flag">
    <use xlink:href="#fa-flag"></use>
    </svg>
    Font Awesome
    </a>
    as SVG icons
    </h2>
    <pre>&lt;svg class="fa-flag"&gt;
    &lt;use xlink:href="#fa-flag"&gt;&lt;/use&gt;
    &lt;/svg&gt;</pre>
    <p>How to change icons?</p>
    <ol class="text-cols">
    <li>Go to <a href="http://fontastic.me/">fontastic.me</a>.</li>
    <li>Create a free account.</li>
    <li>Select new icons.</li>
    <li>Publish as SVG sprite.</li>
    <li>Edit <strong>svg-icons.css</strong> and <strong>svg.icons.js</strong>.</li>
    </ol>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap">
    <h2>Transparent Logos</h2>
    <p>
    Change the color of a .svg/.png image using CSS. Images are property of their respective owners.
    </p>
    <hr>
    <ul class="flexblock">
    <li>
    <div>
    <img src="../static/images/logos/google.svg" alt="Google">
    <p><strong>Height recommended</strong>: 48px</p>
    </div>
    </li>
    <li>
    <div>
    <img class="blacklogo" src="../static/images/logos/google.svg" alt="Google">
    <code>img.blacklogo</code>
    </div>
    </li>
    <li>
    <div>
    <img class="graylogo" src="../static/images/logos/google.svg" alt="Google">
    <code>img.graylogo</code>
    </div>
    </li>
    <li class="bg-green">
    <div>
    <img class="whitelogo" src="../static/images/logos/google.svg" alt="Google">
    <code>img.whitelogo</code>
    </div>
    </li>
    </ul>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap aligncenter">
    <h2><strong>CSS Alignments</strong></h2>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <header>
    <!--.wrap o <nav> = container 1200px -->
    <div class="wrap">
    <p class="logo"><a href="#" title="Logo">Logo</a> <span class="alignright">.alignright</span></p>
    </div>
    </header>
    <div class="aligncenter fadeInUp">
    <h2>Simple CSS Alignments</h2>
    <p>Put content wherever you want.</p>
    </div>
    <footer>
    <div class="wrap">
    <p>
    <span class="alignleft">
    Footer
    </span>
    <span class="alignright">
    <a href="#" title="Twitter">
    <svg class="fa-twitter">
    <use xlink:href="#fa-twitter"></use>
    </svg>
    @username
    </a>
    </span>
    </p>
    </div>
    </footer>
    </section>
    <section class="slide-top">
    <div class="wrap">
    <div class="content-left">
    <h3>1/9 left top</h3>
    <p>Put content wherever you want. Have less. Do more. Create beautiful solutions.</p>
    <p><code>.slide-top and .content-left</code></p>
    </div>
    </div>
    <!-- .end .wrap -->
    </section>
    <section class="slide-top">
    <div class="wrap">
    <div class="content-center">
    <h3>2/9 center top</h3>
    <p>Beauty is a concept based on aesthetics which is quite subjective and cultural.</p>
    <p><code>.slide-top and .content-center</code></p>
    </div>
    </div>
    <!-- .end .wrap -->
    </section>
    <section class="slide-top">
    <div class="wrap">
    <div class="content-right">
    <h3>3/9 right top</h3>
    <p>Harmony and admiration are two universal elements which guide us in order to consider something beautiful.</p>
    <p><code>.slide-top and .content-right</code></p>
    </div>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap">
    <div class="content-left">
    <h3>4/9 left center</h3>
    <p>The term interaction design was first coined by Bill Moggridge and Bill Verplank in the mid-1980s.</p>
    <p><code>.content-left</code></p>
    </div>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap">
    <div class="content-center">
    <h3>5/9 center</h3>
    <p>Emotional and pleasure theories exist to explain people's responses to the use of interactive products.</p>
    <p><code>.content-center</code></p>
    </div>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap">
    <div class="content-right">
    <h3>6/9 right center</h3>
    <p>Simplicity is a major concern in interaction design. The aim is clarity.</p>
    <p><code>.content-right</code></p>
    </div>
    </div>
    <!-- .end .wrap -->
    </section>
    <section class="slide-bottom">
    <div class="wrap">
    <div class="content-left">
    <h3>7/9 left bottom</h3>
    <p>Information architecture is the structural design of shared information environments.</p>
    <p><code>.slide-bottom</code> and <code>.content-left</code></p>
    </div>
    </div>
    <!-- .end .wrap -->
    </section>
    <section class="slide-bottom">
    <div class="wrap">
    <div class="content-center">
    <h3>8/9 center bottom</h3>
    <p>The "a-ha moment" is the moment where there is suddenly a clear forward path.</p>
    <p><code>.slide-bottom</code> and <code>.content-center</code></p>
    </div>
    </div>
    <!-- .end .wrap -->
    </section>
    <section class="slide-bottom">
    <div class="wrap">
    <div class="content-right">
    <h3>9/9 right bottom</h3>
    <p>Philosophy of language seeks to understand the relationship between language and reality.</p>
    <p><code>.slide-bottom</code> and <code>.content-right</code></p>
    </div>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap size-50">
    <h2>CSS Animations</h2>
    <p>Fadein transition to all slides.</p>
    <pre>&lt;article id="webslides"&gt;
    &lt;section&gt;
    &lt;div class="wrap fadeInUp"&gt;
    &lt;h1&gt;Slide&lt;/h1&gt;
    &lt;/div&gt;
    &lt;/section&gt;
    &lt;/article&gt;</pre>
    <p>Just 5 basic animations: .fadeIn, .fadeInUp, .zoomIn, .slideInLeft, and .slideInRight.</p>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap aligncenter fadeInUp">
    <h2>Slide</h2>
    <p>.fadeInUp</p>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap size-40 zoomIn aligncenter">
    <figure>
    <img src="../static/images/android.png" alt="Pixel Phone">
    </figure>
    <p>.zoomIn</p>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap size-50">
    <h3>.slow (animation duration)</h3>
    <pre>&lt;section&gt;
    &lt;div class="wrap"&gt;
    &lt;h2 class="fadeIn slow"&gt;Slide 1&lt;/h2&gt;
    &lt;/div&gt;
    &lt;/section&gt;</pre>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap aligncenter">
    <h2 class="fadeIn slow">h2.fadeIn.slow</h2>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap aligncenter">
    <h2><strong>Background Images</strong></h2>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <span class="background" style="background-image:url('https://source.unsplash.com/LcDPAqX8dt8/)"></span>
    <div class="wrap size-50">
    <h3>
    <svg class="fa-camera">
    <use xlink:href="#fa-camera"></use>
    </svg>
    Unsplash = Fullscreen Backgrounds
    </h3>
    <p class="text-intro"><a href="https://source.unsplash.com/">How to embed Unsplash photos? &rarr;</a></p>
    <pre>&lt;section&gt;
    &lt;span class="background" style="background-image:url('https://source.unsplash.com/LcDPAqX8dt8/')"&gt;&lt;/span&gt;
    &lt;div class="wrap"&gt;
    &lt;h1&gt;Slide&lt;/h1&gt;
    &lt;/div&gt;
    &lt;/section&gt;</pre>
    <p>
    <svg class="fa-info">
    <use xlink:href="#fa-info"></use>
    </svg>
    Position .background outside of .wrap container.
    </p>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap">
    <h3>15 Different Backgrounds</h3>
    <ul class="text-cols">
    <li><strong>.background</strong> (cover)</li>
    <li>.background-top (cover)</li>
    <li>.background-bottom (cover)</li>
    <li>.background.light</li>
    <li>.background.dark</li>
    <li>.background-center</li>
    <li>.background-center-top</li>
    <li>.background-center-bottom</li>
    <li>.background-left</li>
    <li>.background-left-top</li>
    <li>.background-left-bottom</li>
    <li>.background-right</li>
    <li>.background-right-top</li>
    <li>.background-right-bottom</li>
    <li>.background-anim</li>
    </ul>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap aligncenter">
    <h2><strong>Embedding Media</strong></h2>
    <p>Videos, charts, maps...</p>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap">
    <div class="content-left">
    <h3><a href="https://webslides.tv/demos/media#slide=2">YouTube API</a></h3>
    <p>Embed videos with loop, autoplay, and muted attributes.</p>
    <pre>&lt;div class="embed"&gt;
    &lt;iframe src="https://www.youtube.com/embed/XjJQBjWYDTs"&gt;
    &lt;/iframe&gt;
    &lt;/div&gt;</pre>
    <p><code>.embed</code> (responsive)</p>
    </div>
    <!-- end .content-left -->
    <div class="content-left">
    <!-- <div class="embed"> = Responsive -->
    <div class="embed">
    <iframe src="https://www.youtube.com/embed/XjJQBjWYDTs" allowfullscreen></iframe>
    </div>
    <!-- end .embed -->
    </div>
    <!-- end .content-left -->
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap size-60">
    <!-- Responsive video/iframe... Add <div class="embed"> -->
    <div class="embed">
    <div data-youtube data-youtube-id="vXeF6Uot8pk" data-autoplay></div>
    </div>
    <!-- .end .embed -->
    </div>
    <!-- .end .wrap -->
    </section>
    <section class="fullscreen">
    <!-- Fullscreen Video -->
    <div class="embed">
    <div data-youtube data-youtube-id="b4LrTkWq9jU" data-autoplay></div>
    </div>
    <!-- .end .embed -->
    </section>
    <section class="fullscreen bg-black aligncenter">
    <div class="embed">
    <video autoplay loop muted poster="https://webslides.tv/static/images/peggy.jpg">
    <source src="https://webslides.tv/static/videos/peggy.mp4" type="video/mp4">
    </video>
    </div><!-- .end .embed -->
    <!-- .wrap = container (width: 90%) -->
    <div class="wrap size-50">
    <h2><strong>We build brands with integrity and substance</strong></h2>
    </div>
    <!-- .end .wrap -->
    </section>
    <section class="fullscreen bg-blue">
    <div class="embed dark">
    <video autoplay loop muted poster="https://webslides.tv/static/images/peggy.jpg">
    <source src="https://webslides.tv/static/videos/peggy.mp4" type="video/mp4">
    </video>
    </div>
    <!-- .embed -->
    <!-- .wrap = container (width: 90%) -->
    <div class="wrap size-50">
    <h2><strong>We help with design direction</strong></h2>
    <p>0verlay: <code>section.fullscreen.bg-blue > .embed.dark</code> or .light</p>
    </div>
    <!-- .end .wrap -->
    </section>
    <section class="bg-primary">
    <div class="wrap size-50">
    <p class="text-context">Status of Net Neutrality around the world.</p>
    <div class="embed">
    <iframe width='800' height='450' src='https://dejiaccessnow.carto.com/viz/4f239c60-356f-11e5-b01c-0e853d047bba/embed_map' allowfullscreen></iframe>
    </div>
    <!-- .end .embed -->
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap aligncenter">
    <h2><strong>Typography</strong></h2>
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap">
    <div class="cta">
    <div class="number">
    <p><span>Ag</span></p>
    </div>
    <!--end .number -->
    <div class="benefit">
    <p class="text-subtitle">Roboto in <a href="https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Roboto:400,700,700italic,400italic,300,300italic">Google Fonts</a>.</p>
    <h3><strong>The quick brown fox jumps over the lazy dog</strong>.</h3>
    <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
    <p>abcdefghijklmnopqrstuvwxyz</p>
    <p>1234567890(,.;:?!$&*)</p>
    </div>
    <!--end .benefit -->
    </div>
    <!--end .cta -->
    </div>
    <!-- .end .wrap -->
    </section>
    <section>
    <div class="wrap">
    <div class="cta text-serif">
    <div class="number">
    <p><span>Ag</span></p>
    </div>
    <!--end .number -->
    <div class="benefit">
    <p class="text-subtitle">Maitree in <a href="https://fonts.google.com/specimen/Maitree">Google Fonts</a>.</p>
    <h3><strong>The quick brown fox jumps over the lazy dog</strong>.</h3>
    <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
    <p>abcdefghijklmnopqrstuvwxyz</p>
    <p>1234567890(,.;:?!$&*)</p>
    </div>
    <!--end .benefit -->
    </div>
    <!--end .cta -->
    </div>
    <!-- .end .wrap -->
    </section>
    <section class="bg-apple aligncenter">
    <div class="wrap">
    <div class="cta">
    <div class="number">
    <p><span>Ag</span></p>
    </div>
    <!--end .number -->
    <div class="benefit">
    <p>.text-apple, .bg-apple {font-family: "San Francisco";}</p>
    <h3><strong>The quick brown fox jumps over the lazy dog</strong>.</h3>
    <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
    <p>abcdefghijklmnopqrstuvwxyz</p>
    <p>1234567890(,.;:?!$&*)</p>
    </div>
    <!--end .benefit -->
    </div>
    <!--end .cta -->
    </div>
    <!-- .end .wrap -->
    </section>